
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MenuPrincipal.cshtml";
}

<section>
    <center>
        <h3 style="padding:20px 0px 20px 0px">
            Actualité
        </h3>
    </center>
    <div class="container">
        <div class="row">
            <!--Team One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="100ms">
                <div class="team-one__single">
                    <div class="team-one__img-box">
                        <div class="team-one__img">
                            <img src="~/Images/actu1.png" />
                        </div>
                    </div>
                    <div class="team-one__content">
                        <h3 class="team-one__title">
                            @Html.ActionLink("67.73% des internautes trouvent “injuste” la décision", "Details", new { id = 1 })
                        </h3>
                        <p class="team-one__sub-title">12/12/2024</p>
                    </div>
                </div>
            </div>
            <!--Team One Single End-->
            <!--Team One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                <div class="team-one__single">
                    <div class="team-one__img-box">
                        <div class="team-one__img">
                            <img src="~/Images/actu2.png" />
                        </div>
                    </div>
                    <div class="team-one__content">
                        <h3 class="team-one__title">
                            @Html.ActionLink("Amélioration de la performance des projets d...", "Details", new { id = 1 })
                        </h3>
                        <p class="team-one__sub-title">12/12/2024</p>
                    </div>
                </div>
            </div>
            <!--Team One Single End-->
            <!--Team One Single Start-->
            <div class="col-xl-4 col-lg-4 wow fadeInRight" data-wow-delay="300ms">
                <div class="team-one__single">
                    <div class="team-one__img-box">
                        <div class="team-one__img">
                            <img src="~/Images/actu3.png" />
                        </div>
                    </div>
                    <div class="team-one__content">
                        <h3 class="team-one__title">

                            @Html.ActionLink("21ième édition de la journée mondiale...", "Details", new { id = 1 })
                        </h3>
                        <p class="team-one__sub-title">12/12/2024</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 wow fadeInRight" data-wow-delay="300ms">
                <div class="team-one__single">
                    <div class="team-one__img-box">
                        <div class="team-one__img">
                            <img src="~/Images/actu4.png" />
                        </div>
                    </div>
                    <div class="team-one__content">
                        <h3 class="team-one__title">
                            @Html.ActionLink("Bonne gouvernance : Le CEPICI et...", "Details", new { id = 1 })
                        </h3>
                        <p class="team-one__sub-title">12/12/2024</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 wow fadeInRight" data-wow-delay="300ms">
                <div class="team-one__single">
                    <div class="team-one__img-box">
                        <div class="team-one__img">
                            <img src="~/Images/actu5.png" />
                        </div>
                    </div>
                    <div class="team-one__content">
                        <h3 class="team-one__title">
                            @Html.ActionLink("L'ONG Main d'Afrique dans une dynami", "Details", new { id = 1 })
                        </h3>
                        <p class="team-one__sub-title">12/12/2024</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 wow fadeInRight" data-wow-delay="300ms">
                <div class="team-one__single">
                    <div class="team-one__img-box">
                        <div class="team-one__img">
                            <img src="~/Images/actu6.png" />
                        </div>
                    </div>
                    <div class="team-one__content">
                        <h3 class="team-one__title">
                            @Html.ActionLink("ALEPE : UNE ONG OFFRE UNE CANTINE SCOLAIRE..", "Details", new { id = 1 })
                        </h3>
                        <p class="team-one__sub-title">12/12/2024</p>
                    </div>
                </div>
            </div>
            <!--Team One Single End-->
        </div>
    </div>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            // Select the header element using jQuery
            var $header = $('.navbar');

            // Function to toggle the sticky class based on scroll position
            function checkScroll() {
                var currentPosition = $header.css('position');
                if (window.scrollY >= 131) {
                    // Toggle position
                    if (currentPosition === 'static') {
                        $header.css({
                            'position': 'fixed',
                            'top': '0', // Optional: add this if you want it to stick at the top
                            'width': '100%' // Optional: ensure it spans the full width
                        });
                    }
                } else {
                    // Reset to static position
                    $header.css({
                        'position': 'static',
                        'top': '', // Optional: remove top if set before
                        'width': '' // Optional: remove width if set before
                    });
                }
            }

            // Event listener to call checkScroll function on scroll
            $(window).on('scroll', checkScroll);

            // Initial check in case the page is loaded at the top
            checkScroll();
        });
    </script>

}}